<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="Keywords" content="关键词，关键词">
    <meta name="Description" content="描述1">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv=“X-UA-Compitable” content=“IE=edge”>
    <link rel="shortcut icon" type="image/x-icon" href="../public/images/logo.png" media="screen"/>
    <link rel="stylesheet" href="../public/css/bootstrap.css"/>
    <link rel="stylesheet" href="../public/css/login.css"/>
    <!--[if lte IE 9]>
    <script src="../public/js/html5shiv.min.js"></script>
    <script src="../public/js/respond.min.js"></script>
    <![endif]-->
    <title>{{title}}</title>
</head>
<body>
<div id="login_center">
    <div id="login_area">
        <div id="login_box">
            <div id="login_form">
                <form id="submitForm" action="" method="post">
                    <div id="login_tip">
                        <span id="login_err" class="sty_txt2"></span>
                    </div>
                    <div>
                        用户名：<input type="text" name="userEntity.userCode" class="username">
                    </div>
                    <div>
                        密&nbsp;&nbsp;&nbsp;&nbsp;码：<input type="password" name="userEntity.password" class="password">
                    </div>
                    <div id="btn_area">
                        <input type="button" class="login_btn" id="login_sub"  value="登  录">
                        <input type="reset" class="login_btn" id="login_ret" value="重 置">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="../public/js/jquery-1.11.3.js"></script>
<script src="../public/js/bootstrap.js"></script>
<script src="../public/js/index.js"></script>
</body>
</html>